input[type="color"] {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  margin: 3px 0;
  cursor: pointer;
  box-sizing: border-box;
  background-color: transparent;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: 0;
}