.short-single-poster-wrapper {
  display: flex;
  align-items: center;
  padding: 5px;
}

.short-single-poster-inner-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;

  @include mobileMax {
    flex-direction: column;
  }
}

.short-single-poster-name {
  @include tabletMin {
    margin-left: 10px;
  }
}

.poster-with-preview {
  display: flex;
  width: 100%;

  @include mobileMax {
    flex-direction: column;
  }
}

.poster-preview-wrapper {
  margin: 10px;

  @include mobileMax {
    margin: 10px auto;
  }
}