.button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: filter 0.1s ease-in-out;

  &.round {
    border-radius: 50%;
  }

  &.absolute {
    position: absolute;
  }

  &.right {
    right: 0;
  }

  .unknown & {
    color: $colorMain;
  }

  &:hover {
    color: $colorMain;
    filter: drop-shadow(0 0 1px $colorMainContrast);

    &.warn {
      filter: drop-shadow(0 0 1px $colorFailure);
    }

    &.accept {
      filter: drop-shadow(0 0 1px $colorSuccess);
    }

    .unknown & {
      filter: drop-shadow(0 0 1px $colorMain);
    }
  }
}