.menu-top {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  @include themify($themes) {
    background-color: themed('colorMain');
  }
}

.menu-mobile-effect {
  @include mobileMax {
    width: 100vw;
    position: absolute;
    z-index: 10;
    height: 100vh;

    @include themify($themes) {
      background-color: rgba($colorBlack, $halfOpacity);
    }

    &.inactive {
      max-width: 0;
    }
  }
}

.menu-left {
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;

  @include themify($themes) {
    background-color: themed('colorMain');
  }

  @include mobileMax {
    width: 150px;
    transform: translateX(-200px);
    transition: transform 0.25s ease-in-out;

    @include themify($themes) {
      box-shadow: 0 0 5px 1px rgba(themed('colorMainContrast'), $halfOpacity);
    }

    &.active {
      transform: translateX(0);
    }
  }
}

.menu-mobile-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  z-index: 15;

  @include themify($themes) {
    background-color: themed('colorMain');
    box-shadow: 0 0 5px 1px rgba(themed('colorMainContrast'), $halfOpacity);
  }

  svg {
    font-size: 30px;

    &.active {
      color: $colorSuccess;
    }
  }
}

.menu-item {
  cursor: pointer;
  padding: 5px 0 3px;
  position: relative;
  display: flex;

  &.top {
    padding: 3px 8px 0 6px;
    border-left: 0
  }

  @include themify($themes) {
    border-left: 2px solid themed('colorMain');
    background-color: themed('colorMain');

    &.top {
      border-bottom: 2px solid themed('colorMain');
      border-left: 0
    }
  }

  &.active {
    &.all {
      border-color: $colorAll;
      background-color: rgba($colorAll, $fullOpacity);
    }

    &.owner {
      border-color: $colorOwner;
      background-color: rgba($colorOwner, $fullOpacity);
    }

    &.admin {
      border-color: $colorAdmin;
      background-color: rgba($colorAdmin, $fullOpacity);
    }

    &.analytic {
      border-color: $colorAnalytic;
      background-color: rgba($colorAnalytic, $fullOpacity);
    }

    &.content-manager {
      border-color: $colorContentManager;
      background-color: rgba($colorContentManager, $fullOpacity);
    }

    &.developer {
      border-color: $colorDeveloper;
      background-color: rgba($colorDeveloper, $fullOpacity);
    }
  }

  &:hover {
    border-color: $colorUnknown;
    background-color: rgba($colorUnknown, $fullOpacity);

    &.all {
      border-color: $colorAll;
      background-color: rgba($colorAll, $halfOpacity);
    }

    &.owner {
      border-color: $colorOwner;
      background-color: rgba($colorOwner, $halfOpacity);
    }

    &.admin {
      border-color: $colorAdmin;
      background-color: rgba($colorAdmin, $halfOpacity);
    }

    &.analytic {
      border-color: $colorAnalytic;
      background-color: rgba($colorAnalytic, $halfOpacity);
    }

    &.content-manager {
      border-color: $colorContentManager;
      background-color: rgba($colorContentManager, $halfOpacity);
    }

    &.developer {
      border-color: $colorDeveloper;
      background-color: rgba($colorDeveloper, $halfOpacity);
    }

    &.support {
      border-color: $colorSupport;
      background-color: rgba($colorSupport, $halfOpacity);
    }

    &.translator {
      border-color: $colorTranslator;
      background-color: rgba($colorTranslator, $halfOpacity);
    }
  }

  .submenu-wrapper & {
    padding: 5px 8px 3px 0;
    width: 140px;
  }
}

.menu-item-icon {
  display: flex;
  align-items: flex-end;

  svg {
    filter: none;

    .menu-left & {
      margin: 0 4px;
    }

    .subitem & {
      margin-right: 2px;
    }
  }
}

.menu-item-name {
  display: flex;
  align-items: flex-end;
  white-space: nowrap;
  overflow: hidden;
}

.submenu-wrapper {
  position: absolute;
  display: none;
  left: 100%;
  top: 0;
  padding-left: 10px;
  z-index: 10;

  .menu-item:hover > & {
    display: block;
  }
}

.submenu {
  @include themify($themes) {
    background-color: themed('colorMain');
    box-shadow: 0 0 3px 1px rgba(themed('colorMainContrast'), $halfOpacity);
  }
}

.mobile-top-menu {
  @include themify($themes) {
    border-top: 3px double themed('colorMainContrast');
  }
}
