.short-single-actor-wrapper {
  display: flex;
  align-items: center;
}

.small-actor-image {
  height: 30px;
  width: 30px;
  margin: 5px 5px 5px -5px;
  border-radius: 3px;
}

.actor-images-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;

  @include mobileMax {
    flex-direction: column;
  }
}

.actor-single-image {
  width: 100%;
  margin: 0 0.25%;
}

.big-actor-image {
  width: 150px;
  height: 150px;
  margin: 10px auto;
  border-radius: 3px;

  @include themify($themes) {
    background-color: rgba(themed('colorMainContrast'), $halfOpacity);
    box-shadow: 0 0 3px 1px rgba(themed('colorMainContrast'), $fullOpacity);
  }
}