// Full colors
$colorBlack: #000;
$colorBlue: #4169e1;
$colorCyan: #00ffff;
$colorGreen: #9ACD32;
$colorPink: #FF69B4;
$colorOrange: #F4A460;
$colorPurple: #663399;
$colorRed: #B22222;
$colorWhite: #EEE;
$colorYellow: #F0E68C;

// Light colors
$colorLightBlue: #AFEEEE;

// Role named colors
$colorUnknown: $colorBlack;
$colorAll: $colorBlue;
$colorOwner: $colorRed;
$colorAdmin: $colorGreen;
$colorAnalytic: $colorOrange;
$colorContentManager: $colorLightBlue;
$colorDeveloper: $colorPink;
$colorSupport: $colorPurple;
$colorTranslator: $colorCyan;

// Consts
$fullOpacity: 0.2;
$halfOpacity: 0.5;
$lightOpacity: 0.8;

// Color reassingment
$colorFailure: $colorRed;
$colorMain: $colorWhite;
$colorMainContrast: $colorBlack;
$colorMoreAction: $colorOrange;
$colorProcessing: $colorYellow;
$colorSuccess: $colorGreen;
